@model AtlantisShop.Core.ViewModels.ChangePasswordViewModel
@{
    ViewData["Title"] = "تغییر کلمه عبور";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <form method="post" enctype="multipart/form-data">

            <div class="row">

                <div class="col-md-8">
                    @if (!string.IsNullOrEmpty(ViewBag.Message))
                    {
                        <div class="row">
                            <p class="@ViewBag.Class">@ViewBag.Message</p>
                        </div>
                    }

                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title">تغییر کلمه عبور</h4>
                            <p class="card-category"></p>
                        </div>
                        <div class="card-body">

                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group bmd-form-group">
                                        <label class="bmd-label-floating">کله عبور فعلی</label>
                                        <input asp-for="OldPassword" type="password" class="form-control">
                                    </div>
                                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-md-4">
                                    <div class="form-group bmd-form-group">
                                        <label class="bmd-label-floating">کلمه عبور جدید</label>
                                        <input asp-for="Password" type="password" class="form-control">
                                    </div>
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group bmd-form-group">
                                        <label class="bmd-label-floating">تکرار کلمه عبور جدید</label>
                                        <input asp-for="ConfirmPassword" type="password" class="form-control">
                                    </div>
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>



                            <button type="submit" class="btn btn-success btn-round  pull-right">ذخیره اطلاعات</button>
                            <div class="clearfix"></div>

                        </div>
                    </div>
                </div>
               
            </div>
        </form>
    </div>
</div>


